Django>2
django-pwa
django-cron

requests
gunicorn

pipdeptree

# ------------------------------------------------------

## Django==2.2.4
## django-cron==0.5.1
## django-pwa==1.0.5
## gunicorn==19.9.0
## pipdeptree==0.13.2
## requests==2.22.0
