Django==1.11.*
django-progressive-web-app
django-cron

requests
gunicorn

pipdeptree

# ------------------------------------------------------

## Django==1.11.22
## django-cron==0.5.1
## django-progressive-web-app==0.1.1
## gunicorn==19.9.0
## pipdeptree==0.13.2
## requests==2.22.0
